:root {
  --color-back: #f1ecea;
  --color-orange: #e37037;
  --color-gray: #646669;
  --color-green: #81b0a5;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto mono', sans-serif;
  background-color: var(--color-back);
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px 0 50px;
}

header h1 {
  color: var(--color-orange);
}

.settingsIcon {
  display: flex;
  align-items: center;
}

.settingsIcon:hover svg {
  fill: var(--color-orange);
  cursor: pointer;
}

.settingsIcon:active svg {
  scale: 0.9;
}

.settingsIcon svg {
  fill: var(--color-gray);
  transition: fill 0.3s, scale 0.2s;
}

.startBtn {
  background-color: var(--color-orange);
  color: var(--color-back);
  width: 40vw;
  min-width: 315px;
  height: 110px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 50px;
  transition: opacity 0.3s, scale 0.3s;
}

.startBtn:hover {
  opacity: 0.8;
}

.startBtn:active {
  scale: 0.99;
}

main {
  height: 80vh;
  display: flex;
  align-items: center;
}

.main__header {
  display: flex;
  justify-content: space-between;
}

.turns {
  display: flex;
  align-items: center;
  color: var(--color-gray);
  font-size: 20px;
}

.main__wrapper {
  width: 550px;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cell {
  background-image: url(/junior-hackathon_team__14/src/assets/icons/paws.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--color-green);
  width: 95px;
  height: 95px;
  border-radius: 15px;
}

.resetBtn {
  border: none;
  width: 50px;
  height: 50px;
}

.resetBtn img {
  background: var(--color-back);
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--color-gray);
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-orange);
}
