:root {
  --color-back: #f1ecea;
  --color-orange: #e37037;
  --color-gray: #646669;
  --color-green: #81b0a5;
  --color-active: #f4dac1;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'roboto mono', sans-serif;
  background-color: var(--color-back);
}

.startWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.startWrapper h2 {
  margin: 0 30px;
  max-width: 900px;
  text-align: center;
  color: black;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

header {
  margin: 15px 50px 0 50px;
}

.header__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__wrapper img {
  width: 50px;
  height: 50px;
}

header h1 {
  color: var(--color-orange);
}

.startBtn {
  background-color: var(--color-orange);
  color: var(--color-back);
  width: 40vw;
  padding: 10px;
  min-width: 315px;
  max-width: 650px;
  height: 110px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 35px;
  transition: opacity 0.3s, scale 0.3s;
}

.startBtn:hover {
  opacity: 0.8;
}

.startBtn:active {
  scale: 0.99;
}

main .wrapper {
  padding-bottom: 30px;
}

main {
  height: 80vh;
  display: flex;
  align-items: center;
}

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.turns {
  display: flex;
  align-items: center;
  color: var(--color-gray);
  font-size: 20px;
  user-select: none;
}

.main__wrapper {
  width: 550px;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.cell {
  background-image: url(../assets/icons/paws.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--color-green);
  width: 120px;
  height: 120px;
  border-radius: 15px;
  transition: scale 0.3s, background 0.5s;
}
.pictureImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cell.hide {
  cursor: pointer;
}

.cell.hide:hover {
  scale: 1.15;
}

.cell.hide:active {
  scale: 1.1;
}

.cell.active {
  background-image: url(../assets/images/025-fox.svg);
  background-color: var(--color-active);
}

.resetBtn {
  border: none;
  background: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: scale 0.3s;
}

.resetBtn svg {
  transition: fill 0.3s;
}

.resetBtn:hover {
  scale: 1.2;
}

.resetBtn:hover svg {
  fill: var(--color-orange);
}

.resetBtn:active {
  scale: 1.1;
}

footer {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.link {
  text-decoration: none;
  color: var(--color-gray);
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-green);
}

.finish__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.finish__wrapper h2 {
  color: var(--color-gray);
}

.flip-animation {
  animation-name: flip;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    justify-content: center;
  }

  .board {
    gap: 8px;
  }

  .cell {
    width: 90px;
    height: 90px;
  }

  .main__wrapper {
    width: 450px;
  }

  footer {
    margin-top: 15px;
  }
}

@keyframes flip {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
